@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #92000a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  background: url("/background.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.important {
  font-family: var(--font-montserrat_alternates);
  text-decoration-color: var(--accent);
}
